
.idea/misc.xml
.idea/artifacts/BetterFactions_jar.xml
out/artifacts/BetterFactions_jar/BetterFactions.jar
*.jar
src/net/dovtech/betterfactions/BetterFactions.java
src/META-INF/MANIFEST.MF
out
.idea
.idea/BetterFactions.iml
